body{
	background: #333;
}
h2 span, section h3, label.rem {
	display: none;
}
body{
	font-size: xx-large;
}
input, button{
	font-size: x-large;
}
footer{
	font-size: large;
}
#h1, #s1, #n1{
	-webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    justify-content: center;   
    
}
#s1, #n1{
	min-height: 50px;
    max-height: 800px;
}
