body{
	background: #333;
}
h2 span, section h3, label.rem {
	display: none;
}
body{
	font-size: x-large;
}
input, button, footer, section{
	font-size: medium;
}

#h1, #s1, #n1{
	-webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    justify-content: center;   
    
}
#s1, #n1{
	min-height: 25px;
    max-height: 600px;
}
.img{
	padding-top: 3%;
	width: 75%!important;
	height: 75%!important;

}
