html{
	background: #5882FA;
}
body {
	margin: 0;
  	padding: 0;
  	font: 18px Georgia, serif;  	
}
#page-wrap{
	margin: 2% auto; 
	color: white;	
}
#page-wrap > .main{
	border: 1px solid #999; 
	padding: 1%;
	margin-bottom: 20px;
	color: black;
	
}
section > div{
	padding: 5px 0 30px!important;
	
}
header, nav, section {
	display: -webkit-flex;
    display: flex;
	background: #eee;
	text-align: center;
}
p img#img{
	padding-top: 1%;
	width: 10%!important;
	height: 10%!important;
}
footer{
	margin-top: 15%;
	background: #eee;
	text-align: center;
}
nav span{
	margin: 0px 10px 0px 0px;
}
#errorMsgs{
	color: #EF0A03; font-size: medium;
	font-weight: bold;
}
header{
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	
}
#s1, #n1, #errorMsgs{
	-webkit-flex-flow: column wrap;
    flex-flow: column wrap;    
}
#s1, #n1{
	min-height: 320px;	
}
#page-wrap > .main > #n1{
	padding-top: 2%;
}
.btn{
	margin: 2% 0!important;
}
td, td a{
	text-align: left;
	padding:0 2% 0 0;
}
input[type="button"], input[type="submit"], button, a:hover{
	cursor: pointer;	
}
input[type="button"], input[type="submit"], button{
	font-weight: bold;
}
section, section div{	
	overflow-y:scroll;
	height: 300px!important;

}
a{
	text-decoration: none;
}
#n1 > *{
	text-align: center;
	margin: 5% 0!important;
	font-weight: bold;
}
.right{
	padding-left: 5%;
}
article{
	text-align: center;
	padding-bottom: 2%;	
}
.name{
	color: #D500D5;
	font-weight: bold;
}