body {
	margin: 0;
  	padding: 0;
  	font: 16px Georgia, serif;
}
#page-wrap{
	margin: 3% auto; color: white;
}
#page-wrap > .main{
	border: 1px solid #999; 
	padding: 1%;
	margin-bottom: 12px;
	color: black;
}
section > div{
	padding: 5px 0 40px!important;
	
}
header, nav, section {
	background: #eee;
	text-align: center;
}
section > img{
	margin:0 0 10% !important;
}
footer{
	margin-top: 15%;
	background: #eee;
	text-align: center;
}
nav span{
	margin: 0px 10px 0px 0px;
}